.logo{
    display: flex;
    align-items: center;
    svg{
        margin-right: 12px;
    } 

    p{
        width: 61px;

        &#navbar_firstP{
            span{
                color: #2A7AE4;
                margin-right: 5px;
            }
        }
    }
}