#navbar{
    height: 80px;
    display: flex;
    position: fixed;
    top: 0px;
    width: calc(100% - 100px);
    z-index: 100;
    background-color: #262626;
    align-items: center;
    justify-content:flex-start;
    font-size: 18px;

    ul {
        list-style: none;
        display: flex;
        height: 100%;
        width: 50%;
        align-items: center;

        li {
            margin-left: 45px;
            transition: all 1s;
            cursor: pointer;

            &:hover {
                a{
                    color: #b6b6b6;
                }
            }

            a{
                text-decoration: none;
                color: inherit;
            }

            span{
                &:hover{
                    color: #b6b6b6;
                }
            }
        }

        #palettes:hover{
            color: #2A7AE4;
        }
    }

    #extras-ul{
        display: flex;
        justify-content: flex-end;
    }
}