.promotionInfoCard{
    width: 20%;
    height: 300px;

    img {
        width: 100%;;
    }

    .promotionalCard_logos{
        display: flex;
        overflow: hidden;

        img {
            object-fit: contain;
            position: relative;
            transition: all .1s;
        }
    }

    .promotionInfoCard-text{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 10px;

        h4{
            color: #f0f0f0;
            margin-bottom: 0;
        }
    }
}